<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .change-password {
            flex: 1;
            margin-left: 20px;
        }

        .form-group {
            margin-bottom: 10px;
        }

        .btn {
            display: inline-block;
            margin: 10px 10px;
            padding: 10px 20px;
            font-size: 1rem;
            color: #e97da4;
            background-color: #ffffff;
            border: 2px solid #e97da4;
            border-radius: 25px;
            cursor: pointer;

            transition: background-color 0.5s ease;
        }

        .btn:hover {
            background-color: #e97da4; /* 호버 시 배경색 변경 */
            color: white;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff !important;
        }

        .profile-section {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
        }

        h2, h3 {
            margin: 5px 0;
        }

        h2{
            color: #e97da4;
            font-size: 20px;
            margin-bottom: 20px;
        }

        h3{
            font-weight: medium;
            color: darkgrey;
            font-size: 15px;
        }

    </style>
</head>
<body>
    <header>
        <img src="/img/logo.png" alt="로고" onclick="navigateToMain()" class="logo">
        <script>
            function navigateToMain() {
                window.location.href = "/";
            }
        </script>
        
        <button class="btn" onclick="navigateToMain()">홈</button>
        <script>
            function navigateToMain() {
                window.location.href = "/";
            }
        </script>
         <button class="btn" onclick="navigateToLogout()">로그아웃</button>
         <script>
             function navigateToLogout() {
                 window.location.href = "/login/logout";
             }
         </script>
          <button class="btn" onclick="navigateToMyPage()">마이페이지</button>
          <script>
              function navigateToMyPage() {
                  window.location.href = "/mypage";
              }
          </script>
    </header>
    <div class="container">
        
        <div class="profile-section">
            <h2>마이페이지</h2>
            
            <img src="/img/default-profile.png" alt="프로필 사진" class="profile-pic">
        
            <h3>이름: <%= userInfo.user_name %></h3>
            <h3>아이디: <%= userInfo.user_number %></h3>
            <h3>성별: <%= userInfo.user_gender %></h3>
            <h3>나이: <%= userInfo.user_age %></h3>
            <h3>이메일: <%= userInfo.user_email %></h3>
            <h3>관심사: <%= userInfo.user_interest %></h3>
            <div>
                <button class="btn" onclick="navigateToPWupdate()">비밀번호 변경</button>
            <script>
                function navigateToPWupdate() {
                    window.location.href = "/mypage/pwUpdatePage";
                }
            </script>
            <button class="btn" onclick="navigateToDelete()">회원탈퇴</button>
            <script>
                function navigateToDelete() {
                    window.location.href = "/signup/deletePage";
                }
            </script>

            </div>
            
        </div>
    
    <script src="/js/script.js"></script>
</body>
</html>
